@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: #9E7A59;
}

body{
    background-color: #F9F5E3;
    overflow-x:hidden;
}
header, main, footer {
    position: relative;
    z-index: 10;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-inline: 20%;
    margin-top: 50px;
}
div[style] {
    border-radius: 20px;
    width:fit-content;
    border: 20px;
    border-color: #9E7A59;
    margin-inline: auto;
}
#text {
    width: 750px;
    margin: 50px auto;
    color: #6f5138;
    line-height: 30px;
    text-align:justify;
}
#welcome {
    width: 550px;
    margin: 50px auto;
    text-align: center;
}
#f1 {
    position: absolute;
    z-index: 1;
    width: 343px;
    height: 726px;
    left: -100px;
}
#f2 {
    position: fixed;
    z-index: 1;
    width: 346px;
    height: 630px;
    right: -100px;
}
@media screen and (max-width: 850px) {
    #text{
        width: 80%;
    }
    #welcome{
        width: 70%;
    }
    #f1{
        display: none;
    }
    #f2{
        width: 220px;
        height: 440px;
    }
}
@media screen and (max-width: 574px) {
    div[style] {
        width: 90%;
    }
    div[style] iframe {
        width: 100%;
    }
    #text{
        font-size: 10pt;
    }
    #welcome{
        font-size: 10pt;
    }
}
